@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7.1%;
    --foreground: 0 0% 98%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 7.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 173.8 96.3% 43.7%;
    --accent-foreground: 0 0% 7.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 217.2 91.2% 59.8%;
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 173.8 96.3% 43.7%;
    --chart-3: 0 0% 98%;
    --chart-4: 0 0% 63.9%;
    --chart-5: 0 0% 14.9%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 7.1%;
    --foreground: 0 0% 98%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 7.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 173.8 96.3% 43.7%;
    --accent-foreground: 0 0% 7.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 217.2 91.2% 59.8%;
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 173.8 96.3% 43.7%;
    --chart-3: 0 0% 98%;
    --chart-4: 0 0% 63.9%;
    --chart-5: 0 0% 14.9%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
